@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Samim;
    src: url('../fonts/Samim.ttf') format('truetype');
}

html {
    font-family: Samim;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: #fff0;
}

::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;
    background: #ccc3;
}



/* custom style for swiperjs */
.top-slider .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    border-radius: 50rem;
    transition: all 0.3s linear;
}
.top-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 16px;
    height: 6px;
    background-color: #fff;
}
.top-slider-pagination,
.product-slider-pagination {
    width: fit-content !important;
    left: 21px !important;
}
.product-slider .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    border-radius: 50rem;
    transition: all 0.3s linear;
    background-color: #ccc !important;
    opacity: 1 !important;
}
.product-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
    background-color: #ccc;
    transform: translateY(1px);
}